<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <div class="jumbotron">
        <h1 class="display-4">Danilo's Pizza Place</h1>
        <p class="lead">The best homemade pizza of Vancouver.</p>
        <hr class="my-4">
        <p>Fill the form to order your homemade pizza. It will be delivered in less than 30 minutes or you will get your money back!</p>
        <form action="/order_page" method="POST">
            <div class="card">
                <div class="card-body">
                    <div>Select the size of your pizza:</div>
                    <div class="btn-group btn-group-toggle mt-2" data-toggle="buttons">
                        {{#each pOpSize}}
                        <label class="btn btn-secondary ">
                            <input type="radio" name="size" value="{{this}}"><span>{{this}}</span>
                        </label>
                        {{/each}}
                    </div>
                    <div class="col-md-4 mt-2">
                        <label for="quantity">Quantity:</label>
                        <input type="number" class="validate form-control" name="quantity" value="1" min="1" max="10">
                    </div>
                </div>
            </div>

            <div class="card mt-4">
                <div class="card-body">
                    <div>Select the type of the width of your pizza:</div>
                    <div class="btn-group btn-group-toggle mt-2" data-toggle="buttons">
                        {{#each pOpWidth}}
                        <label class="btn btn-secondary ">
                            <input type="radio" name="width" value="{{this}}"><span>{{this}}</span>
                        </label>
                        {{/each}}
                    </div>
                </div>
            </div>

            <div class="card mt-4">
                <div class="card-body">
                    <div>Select the sorts for your pizza:</div>
                    {{#each pOpSorts}}
                    <div class="btn-group-toggle mt-2 d-inline-block" data-toggle="buttons">
                        <label class="btn btn-secondary ">
                            <input type="checkbox" name="sorts" value="{{this}}"><span>{{this}}</span>
                        </label>
                    </div>
                    {{/each}}
                </div>
            </div>

            <div class="card mt-4">
                <div class="card-body">
                    <div>Delivery Information (all fields are required):</div>
                    <div class="form-row">
                        <div class="form-group col-md-4 mt-2">
                            <label for="inputFirstName">Name:</label>
                            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Type your first name...">
                        </div>
                        <div class="form-group col-md-4 mt-2">
                            <label for="inputLastName">Last name:</label>
                            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Type your last name...">
                        </div>
                        <div class="form-group col-md-4 mt-2">
                            <label for="inputPhone">Phone:</label>
                            <input type="number" class="form-control" id="phone" name="phone" placeholder="Type your phone number... E.g.: 5555555555">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress">Address:</label>
                        <input type="text" class="form-control" id="address" name="address" placeholder="Type your address... E.g.: 1234 Main St">
                    </div>
                    <div class="mx-auto" style="width: 110px;">
                        <button type="submit" class="btn btn-primary">Order now!</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>